@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family=Source+Sans+Pro:wght@300&display=swap");
/*Variables*/
/*MAPS*/
/*Utilizado en header,nosotros, nav_lugares*/
/*A este mixin se utiliza en el footer y las card de lugares.html*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  word-wrap: break-word !important;
  word-break: break-word !important; }

.body {
  background-color: #181818; }
  .body .cont_principal {
    background-color: #212529;
    text-align: center;
    padding-bottom: 30px; }
    .body .cont_principal .link_card {
      text-decoration: double;
      color: black; }
    .body .cont_principal .lineas {
      height: 5px;
      background-color: #fdeaea; }
    .body .cont_principal .titulos {
      color: white;
      background-color: rgba(255, 228, 196, 0.514);
      font-style: italic;
      font-size: 1.2em;
      margin-bottom: 30px;
      margin-top: 30px; }
    .body .cont_principal .texto_introduccion {
      display: inline-block;
      width: 80%;
      color: white;
      font-size: x-large;
      text-align: center; }

@media (min-width: 768px) {
  .body .cont_principal .titulos {
    font-style: oblique;
    font-weight: 700;
    padding-top: 10px; } }

.cabecera {
  background-color: rgba(0, 0, 0, 0.692);
  position: sticky;
  top: 0px;
  z-index: 10; }
  .cabecera .itemNav {
    list-style: none;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center; }
    .cabecera .itemNav .linkNav {
      text-decoration: double;
      color: #dfa5a5 !important; }
      .cabecera .itemNav .linkNav:hover {
        color: white !important;
        background-color: #eeeeee;
        border-radius: 10px; }
    .cabecera .itemNav .submenu {
      z-index: 10;
      text-align: left;
      background-color: rgba(0, 0, 0, 0);
      border-style: none !important; }

/*En estas clases uso el "!important" ya que con las clases de boostrap no me respondia correctamente */
.section_box_fixed {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10; }

.cont_portada {
  display: flex;
  height: 300px;
  background-image: url(../assest/img/portadaSL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-direction: column; }
  .cont_portada .titulo_principal {
    color: black;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 600; }
  .cont_portada .img_portada {
    max-width: 100px;
    max-height: 100px;
    padding: 20px; }

@media (min-width: 205px) {
  .cont_portada .img_portada {
    max-width: 150px;
    max-height: 150px; } }

/*Esta media query tiene como finalidad que la barra de navegacion no tape toda la pantalla en tamaños muy pequeños de pantalla*/
@media (max-height: 300px) and (max-width: 576px) {
  .cabecera {
    position: relative; } }

.cont_footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #212529;
  border-top-style: double;
  border-top-color: #464444;
  text-align: center; }
  .cont_footer .Redes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .cont_footer .Redes .linkRed {
      padding: 5px;
      margin: 10px;
      background-color: rgba(240, 248, 255, 0.404);
      border-radius: 20px; }
  .cont_footer .copyright {
    color: aliceblue;
    font-weight: 600;
    font-size: small; }

@media (min-width: 768px) {
  .cont_footer .Redes .linkRed {
    margin: 30px; }
  .cont_footer .copyright {
    font-size: medium; } }

.cont_card_index {
  display: flex;
  background-color: 39, 40, 45;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px; }
  .cont_card_index .card_index {
    display: inline-block;
    background-color: 39, 40, 45;
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(209, 207, 207, 0.5);
    vertical-align: top;
    transition: all 1s; }
    .cont_card_index .card_index:hover {
      box-shadow: 0 0 100px rgba(255, 255, 255, 0.678); }
    .cont_card_index .card_index .link_card .info_card {
      z-index: 5;
      font-size: 2em;
      position: relative;
      bottom: 100px;
      background-color: rgba(240, 248, 255, 0.411); }
    .cont_card_index .card_index .link_card .img_card {
      object-fit: cover;
      width: 100%;
      height: 335px;
      border-radius: 5px; }

/*Estilado de main lugares.html*/
.nav_lugares {
  display: flex;
  height: 100%;
  border-radius: 20px;
  background-color: #5d5c5e;
  background-size: cover;
  font-size: 1.1em;
  color: blanchedalmond;
  text-decoration: double;
  justify-content: center;
  align-items: center;
  z-index: 5;
  word-wrap: break-word !important;
  word-break: break-word !important;
  border: 2px double black; }
  .nav_lugares:hover {
    background-color: #acabad;
    color: black; }

.card_titulos_lugares {
  color: white;
  background-color: rgba(255, 228, 196, 0.719);
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 30px; }

.color_card {
  background-color: #212529; }
  .color_card .color_card_int {
    padding: 10px;
    background-color: 39, 40, 45;
    box-shadow: 0 0 20px rgba(247, 247, 247, 0.445);
    border-radius: 5px;
    height: 100%; }
    .color_card .color_card_int .card_map_lugares {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      object-fit: cover;
      height: auto;
      max-height: 230px;
      border: 2px solid white; }

@media (min-width: 768px) {
  .nav_lugares {
    font-size: 2em; }
  .card_titulos_lugares {
    font-size: 2.5em; } }

/*Estilado de main de recetas*/
.cont_card_receta {
  display: flex;
  background-color: #27282d;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px; }
  .cont_card_receta .card_receta {
    display: inline-block;
    background-color: #27282d;
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(209, 207, 207, 0.5);
    vertical-align: top;
    height: 300px;
    transition: all 1s; }
    .cont_card_receta .card_receta:hover {
      box-shadow: 0 0 100px rgba(255, 255, 255, 0.705); }
    .cont_card_receta .card_receta .img_receta {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 5px; }
    .cont_card_receta .card_receta .info_receta {
      z-index: 5;
      font-size: 2em;
      position: relative;
      bottom: 100px;
      background-color: rgba(240, 248, 255, 0.411); }

/*Modelado de nosotros.html*/
.cont_info {
  background-color: #27282d;
  border: 2px solid white; }
  .cont_info .titulos_nosotros {
    display: flex;
    color: white;
    text-align: start;
    font-size: xx-large;
    font-weight: 850; }
  .cont_info .texto_info {
    display: inline-block;
    color: white;
    font-size: x-large;
    text-align: left; }
  .cont_info .img_logo {
    width: 150px;
    height: 150px; }

@media (min-width: 768px) {
  .cont_info .img_logo {
    width: 300px;
    height: 300px; } }

.cont_contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .cont_contacto .texto_contacto {
    display: inline-block;
    color: white;
    font-size: x-large;
    text-align: center; }
  .cont_contacto .link_404 {
    text-decoration: none;
    color: black; }

.cont_404 {
  text-align: center;
  align-content: center;
  color: aqua; }
  .cont_404 .color_font {
    color: aliceblue; }
  .cont_404 .e404 {
    font-size: 100px;
    object-fit: cover; }
  .cont_404 .volver_inicio {
    display: flex;
    height: 100%;
    border-radius: 20px;
    background-color: #5d5c5e;
    background-size: cover;
    font-size: 1.1em;
    color: blanchedalmond;
    text-decoration: double;
    justify-content: center;
    align-items: center;
    z-index: 5;
    word-wrap: break-word !important;
    word-break: break-word !important;
    border: 2px double black; }
    .cont_404 .volver_inicio:hover {
      background-color: #acabad;
      color: black; }
