.cont_contacto{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    .texto_contacto{
        display: inline-block;
        color: white;
        font-size:x-large;
        text-align: center;
    }
}
