.cont_card_index{
    display: flex;
    background-color: $color_fondo_card;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    .card_index{
        display: inline-block;
        background-color: $color_fondo_card;
        margin: 50px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(209, 207, 207, 0.5);
        vertical-align: top;
        transition: all 1s;
        &:hover{
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        }
        .link_card{
            .info_card{
                z-index: 5;
                font-size: 2em;
                position: relative;
                bottom: 100px;
                background-color: rgba(240, 248, 255, 0.411);
            }
            .img_card{
                object-fit: cover;
                width: $ancho;
                height: 335px;
                border-radius: 5px; 
            }
        }
    }
}


